<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Edit user</h2>
            </div>
            <div class="col-lg-12">
                <form #userForm="ngForm" (ngSubmit)='editUser(userForm.value)' class="form-contact contact_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="firstname" id="name" type="text" [(ngModel)]='user.firstName' placeholder='Enter First name' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="lastname" id="lastname" type="text" [(ngModel)]='user.lastName' placeholder='Enter Last Name' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" [(ngModel)]='user.email' placeholder='Enter email' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="tel" type="number" [(ngModel)]='user.telNbr' placeholder='Enter your Tel number' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="password" id="password" type="password" [(ngModel)]='user.password' placeholder='Enter your password' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="confirm-password" id="confirm-password" type="password" [(ngModel)]="user.confirmPassword" placeholder='Confirm your password' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-success">Edit user</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>