<!--::header part start::-->
<header class="main_menu ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" routerLink='/'> <img src="assets/img/logo.png" alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/'>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/about']">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" routerLink='/contact'>Contact</a>
                            </li>
                            <li class="nav-item" *ngIf="!userIsAuthenticated">
                                <a class="nav-link" routerLink="/sign-up">Signup</a>
                            </li>
                            <li class="nav-item" *ngIf="!userIsAuthenticated">
                                <a class="nav-link" routerLink="/sign-in">Signin</a>
                            </li>
                            <li class="nav-item" *ngIf="userIsAuthenticated">
                                <a class="nav-link" (click)="logout()">Logout</a>
                            </li>

                        </ul>
                    </div>
                    <div class="menu_btn">
                        <a href="#" class="btn_1 d-none d-sm-block">book a tabel</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header part end-->