<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Login</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" placeholder='Enter email' [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="pwd" type="password" placeholder='Enter password' [(ngModel)]="model.password" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm btn_4">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>