<div class="single_blog_img">
    <img [src]="chef.img" alt="">
</div>
<div class="single_blog_text text-center">
    <h3>{{chef.name}}</h3>
    <p>{{chef.status}}</p>
    <div class="social_icon">
        <button class="btn btn-success distancement " (click)="displayChef(chef._id)"> Display </button>
        <button class="btn btn-info distancement" (click)="editChef(chef._id)"> Edit </button>
        <button class="btn btn-danger distancement" (click)="deleteChefById(chef._id)"> Delete </button>
    </div>
</div>