<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">add user</h2>
            </div>
            <div class="col-lg-12">
                <form [formGroup]="userForm" class="form-contact contact_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="firstname" id="name" type="text" formControlName="firstName" placeholder='Enter First name'>
                            </div>
                        </div>
                        <div *ngIf="userForm.controls['firstName'].invalid && 
            (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['firstName'].errors.required">
                                FisrtName is required.
                            </div>
                            <div *ngIf="userForm.controls['firstName'].errors.maxlength">
                                Max Length : 10
                            </div>
                            <div *ngIf="userForm.controls['firstName'].errors.minlength">
                                Min Length : 3
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="lastname" id="lastname" type="text" formControlName="lastName" placeholder='Enter Last Name'>
                            </div>
                        </div>
                        <div *ngIf="userForm.controls['lastName'].invalid && 
            (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['lastName'].errors.required">
                                lastName is required.
                            </div>
                            <div *ngIf="userForm.controls['lastName'].errors.maxlength">
                                Max Length : 15
                            </div>
                            <div *ngIf="userForm.controls['firstName'].errors.minlength">
                                Min Length : 3
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" formControlName="email" placeholder='Enter email'>
                            </div>
                        </div>
                        <div *ngIf="userForm.controls['email'].invalid && 
            (userForm.controls['email'].dirty || userForm.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['email'].errors.required">
                                email is required.
                            </div>
                            <div *ngIf="userForm.controls['email'].errors.email">
                                format email required
                            </div>

                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="tel" type="number" formControlName="telNbr" placeholder='Enter your Tel number'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="password" id="password" type="password" formControlName="password" placeholder='Enter your password'>
                            </div>
                        </div>
                        <div *ngIf="userForm.controls['password'].invalid && 
            (userForm.controls['password'].dirty || userForm.controls['password'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['password'].errors.required">
                                password is required.
                            </div>
                            <div *ngIf="userForm.controls['password'].errors.maxlength">
                                Max Length : 20
                            </div>
                            <div *ngIf="userForm.controls['password'].errors.minlength">
                                Min Length : 8
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="confirm-password" id="confirm-password" type="password" formControlName="confirmPassword" placeholder='Confirm your password'>
                            </div>
                        </div>

                        <div *ngIf="userForm.controls['confirmPassword'].invalid && 
                        (userForm.controls['confirmPassword'].dirty || userForm.controls['confirmPassword'].touched)" class="alert alert-danger">
                            <div *ngIf="userForm.controls['confirmPassword'].errors.required">
                                Confirm Password is required.
                            </div>
                            <div *ngIf="userForm.controls['confirmPassword'].errors.mustMatch">
                                Confirm Password does not mutch Password.
                            </div>
                        </div>


                        <div class="form-group mt-3">
                            <button type="submit" (click)="submitForm(userForm.value)" [disabled]="userForm.invalid || userForm.pristine" class="btn btn-success">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<p>{{userForm.value | json }}</p>
<p>{{userForm.status | json }}</p>