<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="assets/img/about.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>Our History</h5>
                    <h2>Where The Food’s As Good As The Root Beer.</h2>
                    <h4>Satisfying people hunger for simple pleasures</h4>
                    <p>May over was. Be signs two. Spirit. Brought said dry own firmament lesser best sixth deep abundantly bearing, him, gathering you blessed bearing he our position best ticket in month hole deep </p>
                    <a href="#" class="btn_3">Read More <img src="assets/img/icon/left_2.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>