<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <form [formGroup]="contactForm" class="form-contact contact_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="first-name" id="first-name" formControlName="firstName" type="text" placeholder='Enter your first name'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="last-name" id="last-name" formControlName="lastName" type="text" placeholder='Enter your last name'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email" formControlName="email" placeholder='Enter your email address'>
                            </div>
                        </div>
                        <div *ngIf="contactForm.controls['email'].invalid && 
            (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)" class="alert alert-danger">
                            <div *ngIf="contactForm.controls['email'].errors.required">
                                email is required.
                            </div>
                            <div *ngIf="contactForm.controls['email'].errors.email">
                                format email required
                            </div>

                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text" formControlName="subject" placeholder='Enter Subject'>
                            </div>
                        </div>
                        <div *ngIf="contactForm.controls['subject'].invalid && 
            (contactForm.controls['subject'].dirty || contactForm.controls['subject'].touched)" class="alert alert-danger">
                            <div *ngIf="contactForm.controls['subject'].errors.required">
                                subject is required.
                            </div>
                            <div *ngIf="contactForm.controls['subject'].errors.maxlength">
                                max Length : 150
                            </div>
                            <div *ngIf="contactForm.controls['subject'].errors.minlength">
                                min Length : 3
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="subject" formControlName="message" cols="30" rows="9" placeholder='Enter Message'></textarea>
                            </div>
                        </div>
                        <div *ngIf="contactForm.controls['message'].invalid && 
            (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)" class="alert alert-danger">
                            <div *ngIf="contactForm.controls['message'].errors.required">
                                message is required.
                            </div>
                            <div *ngIf="contactForm.controls['message'].errors.minlength">
                                Min Length : 100
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" (click)="submitForm(contactForm.value)" [disabled]="contactForm.invalid || contactForm.pristine" class="btn btn-success">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Buttonwood, California.</h3>
                        <p>Rosemead, CA 91770</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>00 (440) 9865 562</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>support@colorlib.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<p>{{contactForm.value | json }}</p>
<p>{{contactForm.status | json }}</p>