<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Edit Menu</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #menuForm="ngForm" (ngSubmit)='editMenu(menuForm.value)'>
                    <div class="row">


                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]='plat.name' placeholder='Enter name' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="description" type="text" [(ngModel)]='plat.description' placeholder='Enter description' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="price" type="number" [(ngModel)]='plat.price' placeholder='Enter price' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="image" type="text" [(ngModel)]='plat.img' placeholder='Enter image' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>