<div class="container">
    <div class="single_food_item media">

        <div class="media-body align-self-center">
            <h3>first name: {{user.firstName}}</h3>
            <h3>last name: {{user.lastName}}</h3>
            <h3>email: {{user.email}}</h3>
            <h3>telNbr: {{user.telNbr}}</h3>
            <h3>password: {{user.password}}</h3>
            <h3>confirm-Password: {{user.confirmPassword}}</h3>
        </div>
        <button class="align-self-center btn btn-warning green">edit</button>
        <button class="align-self-center btn btn-danger red ">delete</button>
    </div>
</div>