<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">Add Menu</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #menuForm="ngForm" (ngSubmit)='addMenu()'>
                    <div class="row">


                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]='menu.name' placeholder='Enter name' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="description" type="text" [(ngModel)]='menu.description' placeholder='Enter description' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="price" type="number" [(ngModel)]='menu.price' placeholder='Enter price' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                        <button type="button" (click)="filePicker.click()" class="btn btn-primary">selectioner un image</button>
                        <input type="file" style="visibility :hidden" #filePicker (change)="onImageSelected($event)">
                        <img [src]="imagePreview" alt="">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>