<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab">
                    <a class="active" id="Special-tab" data-toggle="tab" href="#food-menu" role="tab" aria-controls="Special" aria-selected="false">food-menu <img src="assets/img/icon/play.svg"alt="play"></a>
                    <a id="Breakfast-tab" data-toggle="tab" href="#chefs" role="tab" aria-controls="Breakfast" aria-selected="false">Chefs <img src="assets/img/icon/play.svg" alt="play"></a>
                    <a id="Launch-tab" data-toggle="tab" href="#users" role="tab" aria-controls="Launch" aria-selected="false">Users <img src="assets/img/icon/play.svg" alt="play"></a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active single-member" id="food-menu" role="tabpanel" aria-labelledby="Special-tab">
                        <section class="food_menu gray_bg">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <div class="col-lg-5">
                                        <div class="section_tittle">
                                            <p>Popular Menu</p>
                                            <h2>Delicious Food Menu</h2>
                                            <button class="btn btn-success" (click)="goToAddMenu()">add menu</button>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active single-member" id="Special" role="tabpanel" aria-labelledby="Special-tab">
                                                <div class="row">
                                                    <div class="col-sm-12 col-lg-12" *ngFor="let menu of plats">
                                                        <app-plat [plat]="menu" (newPlats)="updatePlats($event)"></app-plat>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade single-member" id="chefs" role="tabpanel" aria-labelledby="Breakfast-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="section_tittle">
                                        <p>Team Member</p>
                                        <h2>Our Experience Chefs</h2>
                                    </div>
                                </div>
                                <div class="green">
                                    <button class="btn btn-success" (click)="goToAddChef()">add chef</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-4" *ngFor="let chef of chefs">
                                    <div class="single_blog_item">
                                        <app-chef-admin [chef]="chef" (newChefs)="updateChefs($event)"></app-chef-admin>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade single-member" id="users" role="tabpanel" aria-labelledby="Launch-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="section_tittle">
                                        <h2>Our Users</h2>
                                    </div>
                                </div>
                                <div class="green">
                                    <button class="btn btn-success" (click)="goToAddUser()">add user</button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12" *ngFor="let user of users">
                                <app-users [user]="user" (newUsers)="updateUsers($event)"></app-users>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>