<div class="single_food_item media">
    <img [src]="plat.img" class="mr-3" alt="...">
    <div class="media-body align-self-center">
        <h3>{{plat.name}}</h3>
        <p>{{plat.description}}</p>
        <!-- <h5 [ngStyle]="{'color': p.price > 5 ? 'red' : 'green'}">{{p.price}}Dt</h5> -->
        <p [ngClass]="{'colorRed':plat.price > 5 , 'colorGreen':plat.price <= 5}">{{plat.price}}Dt</p>
    </div>

    <button class="align-self-center btn btn-success green" (click)="displayMenu(plat._id)">display</button>
    <button class="align-self-center btn btn-warning green" (click)='editMenu(plat._id)'>edit</button>
    <button class="align-self-center btn btn-danger red " (click)="deletePlatById(plat._id)">delete</button>
</div>