<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Experience Chefs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let chef of chefs">
                <div class="single_blog_item">
                    <app-chef [chef]="chef"></app-chef>
                </div>
            </div>
        </div>
    </div>

</section>