<div class="single_blog_img">
    <img [src]="chef.img" alt="">
</div>
<div class="single_blog_text text-center">
    <h3>{{chef.name}}</h3>
    <p>{{chef.status}}</p>
    <div class="social_icon">
        <a href="#"> <i class="ti-facebook"></i> </a>
        <a href="#"> <i class="ti-twitter-alt"></i> </a>
        <a href="#"> <i class="ti-instagram"></i> </a>
        <a href="#"> <i class="ti-skype"></i> </a>
    </div>
</div>