<table class="table">
    <thead>
        <tr>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">age</th>
            <th scope="col">email</th>
            <th scope="col">dateDeNaissance</th>
            <th scope="col">password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" appBackground>
            <td>{{user.nom | titlecase }}</td>
            <td>{{user.prenom | uppercase}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email | customEmail}}</td>
            <td>{{user.dateDeNaissance | date}}</td>
            <td>{{user.password | reverse}}</td>
        </tr>

    </tbody>
</table>