<div class="single_food_item media">
    <img [src]="plat?.img" class="mr-3">
    <div class="media-body align-self-center">
        <h3>{{plat?.name}}</h3>
        <p>{{plat?.description}}</p>
        <p [ngClass]="{'colorRed':plat?.price > 5 , 'colorGreen':plat?.price <= 5}">{{plat?.price}}Dt</p>
    </div>
    <button class="align-self-center btn btn-warning green">edit</button>
    <button class="align-self-center btn btn-danger red ">delete</button>
</div>