<!-- banner part start-->
<app-banner></app-banner>
<!-- banner part start-->

<!--::exclusive_item_part start::-->
<app-exclusive-items></app-exclusive-items>
<!--::exclusive_item_part end::-->

<!-- about part start-->
<app-history></app-history>
<!-- about part end-->

<!-- intro_video_bg start-->

<!-- intro_video_bg part start-->
<app-demo></app-demo>
<!-- food_menu start-->
<app-food-menu></app-food-menu>
<!-- food_menu part end-->

<!--::chefs_part start::-->
<app-chefs></app-chefs>
<!--::chefs_part end::-->

<!--::reservation_part start::-->
<app-reservation></app-reservation>
<!--::regervation_part end::-->

<!--::exclusive_item_part start::-->
<app-exclusive-item></app-exclusive-item>
<!--::exclusive_item_part end::-->