<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title" style="text-align: center;">edit Chef</h2>
            </div>
            <div class="col-lg-12">
                <form class="form-contact contact_form" #chefForm="ngForm" (ngSubmit)='editChef(chefForm.value)'>
                    <div class="row">


                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="image" type="text" [(ngModel)]='chef.img' placeholder='Enter image' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" [(ngModel)]='chef.name' placeholder='Enter name' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="status" type="text" [(ngModel)]='chef.status' placeholder='Enter status' [ngModelOptions]='{standalone:true}'>
                            </div>
                        </div>

                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>