<div class="single_blog_img">
    <img [src]="chef?.img" alt="">
</div>
<div class="single_blog_text text-center">
    <h3>{{chef?.name}}</h3>
    <p>{{chef?.status}}</p>
    <div class="social_icon">
        <button class="btn btn-info distancement"> Edit </button>
        <button class="btn btn-danger distancement"> Delete </button>
    </div>
</div>